@media only screen and (max-width: 1320px) {
	.single-details {

		.status-area {

			p {
				padding: 10px;
			}
		}
	}
}

@media only screen and (max-width: 1199px) {
	.listing-items {

		.item {
			flex-wrap: wrap;
		}
	}
}

@media only screen and (max-width: 1149px) {

}

@media only screen and (max-width: 1024px) {

	
}

@media only screen and (max-width: 992px) {
	.single-details {

		.right-content {

			.top-content {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1500px) {

}
@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 992px) {
	.header {

		.navbar {

			.navbar-toggle {
				background-color: #fff;
			    border: 0;
			    border-radius: 0;
			    padding: 1px 3px;
			    display: block;
			}

			.buttons-wrapper {
				display: none;
			}
		}
	}

	/* Sidr Menu */
    .sidr-inner {

        .closeMenu {
            font-size: 2rem;
            color: #001C37;
            padding: 5px 15px;
            background: #fff;
            cursor: pointer;
            margin: 0 0 15px;
            display: inline-block !important;
            transition: all .3s ease;
        }

        .navbar-nav {
            float: none !important;
            margin: 0;

            li {
                float: none;
                border-bottom: 1px solid #ECECEC; 

                a {
                    font-weight: 700;
                    font-family: $open;
                    color: #fff;
                    padding: 10px 20px;
                    transition: all .3s ease;
                    @include em(16px, 0, 24px);
                    padding-left: 0;

                    span {
                    	margin-right: 10px;
                    }

                    &:hover, &:focus {
                        background-color: transparent;
                    }
                }
            }
        }

        .buttons-wrapper {

			a {
				background: transparent;
				text-transform: inherit;
				padding: 7px 15px;
				font-family: $robo;
				@include em(14px, 0, 25px);
				color: #fff;
				font-weight: 500;
				border: 1px solid #69F9C8;
				background: #69F9C8;
				color: #000;
				max-width: 100%;
				display: block;
				width: 100%;
				margin-top: 10px;

				&:hover, &:focus, &:active:focus {
					color: #69F9C8;
					background: transparent;
				}
				
			}
		}
    }

    /*****************************************************************************
	*								AGENT PLAN PAGE
	*****************************************************************************/ 
	.agent-banner {
		padding: 60px 0;
	}
}

@media only screen and (max-width: 768px) {
	.single-details {

		.status-area {
		    margin-top: 10px;
		    border-bottom: 0;
		    grid-template-columns: repeat(4, 1fr);

		    p {
		    	border-bottom: 1px solid #E0E7ED;
		    }
		}
	}

	.agent-page-content {

		h3 {
			margin-bottom: 25px;
		}

		.icon-list-wrapper, .icon-list-wrapper-row {
			display: block;
		}
	}

	.neighborhoods {
		padding: 50px 20px;
	}

	/*****************************************************************************
	*									FORM STYLE
	*****************************************************************************/ 
	.account-details {
		margin: 40px 0;

		.form-wrapper {
			padding: 40px;
		}
	}

	.home-banner {
		height: 360px;
	}
}

@media only screen and (max-width: 690px) {
	
}

@media only screen and (max-width: 575px) {
	.col {
		flex-basis: 100%;
	}

	/*****************************************************************************
	*									FORM STYLE
	*****************************************************************************/ 
	.account-details {

		.form-wrapper {
			padding: 20px;

			.title {
				padding-bottom: 20px;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.agent-details {

		.right-content {

			.profile-meta {

				.info {
					display: inherit;

					.media {
						margin-bottom: 20px;
					}
				}
			}

			.view-list {
				grid-template-columns: repeat(2, 1fr);

				p {
					
					&:nth-child(1), &:nth-child(2) {
						border-bottom: 1px solid #E0E7ED;
					}
				}
			}
		}

		.keywords-item-wrapper {

			.modal-buttons {

				.buttons {

					a {
						max-width: 170px;
					}
				}
			}
		}

		.bottom-items {
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width: 410px) {
	.agent-details {

		.keywords-item-wrapper {

			.modal-buttons {
	
				.buttons {
	
					a {
						margin-bottom: 5px;
						max-width: 100%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) {
}

